<h1>Calendario de tareas</h1>

<%= month_calendar do |date| %>
    <%= date.day %>
    <% @chores_data.shift[:scheduled_chores].each do |chore| %>
        <%= chore.chore.name %>
        <%= chore.user.name %>
    <% end unless @chores_data.length == 0 %>
<% end %>
